.container {
  padding: 50px;
  width: 70%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ============= mp3 ================= */
.mp3_block {
  width: 300px;
  height: 300px;
  position: relative; /*làm mốc*/
}
.mp3_block .anh {
  width: 300px;
  height: 300px;
}
.mp3_block .nenden {
  background-color: black;
  opacity: 0;
  width: 300px;
  height: 300px;
  position: absolute; /*Đặt nó là layer*/
  top: 0; /*Đặt vị trí */
  left: 0;
  transition: 0.4s;
}
.mp3_block:hover .nenden {
  opacity: 0.4; /*0.4 là 40%*/
}
.mp3_block .icon {
  color: white;
  font-size: 102px;
  position: absolute;
  top: 79px;
  left: 103px;
  opacity: 0;
  transition: 0.4s;
  transform: scale(0); /*0 là 0%, 1 là 100%, 2 là 200%*/
}
.mp3_block:hover .icon {
  opacity: 1;
  transform: scale(1);
}

/* ============== product card============ */

.card_block {
  width: 360px;
  height: 525px;
  margin-bottom: 60px;
  position: relative;

  font-family: segoe ui light;
  font-size: 20px;
}
.card_block .layer1 {
  width: 100%;
}
.card_block .layer2 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1.5s;
}
.card_block:hover .layer2 {
  opacity: 1;
}
.card_block .text {
  display: flex;
  margin-top: 10px;
}
.card_block .text a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.card_block .text .trai {
  width: 50%;
}
.card_block .text .phai {
  width: 50%;
  text-align: right;
}
.card_block .layer3 {
  position: absolute;
  bottom: 1px;
  left: 0;
  opacity: 1;
  transition: 0.5s;
  font-size: 18px;
}
.card_block:hover .layer3 {
  opacity: 0;
}
.card_block .layer4 {
  position: absolute;
  bottom: 1px;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.card_block .layer4 a {
  text-decoration: none;
  color: #414141;
  font-size: 18px;
  border-bottom: 1px solid gray;
}
.card_block:hover .layer4 {
  opacity: 1;
}
img {
  width: 100%;
}

/* =========== oclock block =========== */

.sanpham {
  width: 360px;
  height: 460px;
  position: relative;

  font-family: segoe ui light;
  margin-bottom: 40px;
}
.sanpham .anh {
  width: 100%;
}
.sanpham:hover .anh {
  opacity: 0.7;
}
.sanpham .text1 {
  position: absolute;
  top: 33px;
  left: 31px;

  font-size: 20px;
  font-weight: 400;
  transition: 0.4s;
}
.sanpham:hover .text1 {
  position: absolute;
  top: 25px;
  left: 31px;
}
.sanpham .text2 {
  position: absolute;
  top: 62px;
  left: 31px;
  font-size: 15px;
  opacity: 0;
  transition: 0.4s;
}
.sanpham:hover .text2 {
  top: 58px;
  opacity: 1;
}
.sanpham .text3 {
  position: absolute;
  bottom: 20px;
  left: 31px;
  opacity: 0;
  transition: 0.4s;
}
.sanpham:hover .text3 {
  opacity: 1;
  bottom: 30px;
}
.sanpham .icon {
  position: absolute;
  bottom: 20px;
  right: 31px;
  opacity: 0;
  transition: 0.4s;
  font-size: 22px;
}
.sanpham:hover .icon {
  opacity: 1;
  bottom: 30px;
}

/* =========== beer block ========= */

._1o {
  width: 360px;
  height: 460px;
  position: relative;

  font-family: segoe ui light;
}

._1o .nentrang {
  background-color: white;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  transition: 0.4s;
}
._1o:hover .nentrang {
  opacity: 0.9;
}
._1o .anh {
  width: 100%;
}
._1o .text1 {
  bottom: 60px;
  left: 50px;
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  transition-delay: 0.4s;
}
._1o:hover .text1 {
  bottom: 80px;
  opacity: 1;
}
._1o .text2 {
  position: absolute;
  bottom: 35px;
  left: 50px;
  color: gray;
  opacity: 0;
  transition: 0.4s;
}
._1o:hover .text2 {
  bottom: 55px;
  opacity: 1;
}
._1o .icon1 {
  font-size: 54px;
  position: absolute;
  top: 30px;
  left: 50px;
  transition: 0.4s;
  opacity: 0;
}
._1o:hover .icon1 {
  opacity: 1;
}

/* ========== friend block =========== */

.o {
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.o .anh {
  width: 100%;
  height: 100%;
}
.o .nentrang {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.4s;
}
.o:hover .nentrang {
  opacity: 0.8;
  border: 10px solid black;
}
.o .chulon {
  position: absolute;
  top: 30px;
  left: 40px;
  font-family: segoe ui light;
  color: black;
  font-size: 30px;
  font-weight: 600;
  opacity: 0;
  transition: 0.4s;
}
.o:hover .chulon {
  opacity: 1;
}
.o .chunho {
  position: absolute;
  top: 70px;
  left: 40px;
  font-family: segoe ui light;
  color: black;
  font-size: 20px;
  font-style: italic;
  opacity: 0;
  transition: 0.4s;
}
.o:hover .chunho {
  opacity: 1;
}

/* ============= headphone block ========== */

.noidung {
  width: 875px;
  height: 323px;
  position: relative;
}
.noidung .anh {
  width: 110%;
  height: 100%;
  margin-left: -10%;
  transition: 0.4s;
}
.noidung:hover .anh {
  opacity: 0.7;
  margin-left: 0%;
}
.noidung .chuto1 {
  width: 100%;
  height: 38px;
  position: absolute;
  top: 35%;
  text-align: center;
  overflow: hidden;
}
.noidung .chuto1 .nho {
  font-family: segoe ui;
  font-size: 30px;
  font-weight: 500;
  color: white;
  position: relative;
  top: 30px;
  transition: 0.4s;
}
.noidung:hover .chuto1 .nho {
  top: 0;
}
.noidung .chuto2 {
  font-family: segoe ui;
  font-size: 30px;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 30px;
  left: 30px;
  transition: 0.4s;
  opacity: 0;
}
.noidung:hover .chuto2 {
  opacity: 1;
}
.noidung .chunho1 {
  width: 100%;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 48%;
  left: 45%;
  overflow: hidden;
}
.noidung .chunho1 .nhonho1 {
  font-family: segoe ui;
  font-size: 18px;
  font-weight: 400;
  color: red;
  display: inline;
  position: relative;
  top: 30px;
  transition: 0.4s;
}
.noidung:hover .chunho1 .nhonho1 {
  top: 0;
}

.noidung .chunho2 {
  width: 100%;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 48%;
  left: 48%;
  overflow: hidden;
}
.noidung .chunho2 .nhonho2 {
  display: inline;
  font-family: segoe ui;
  font-size: 18px;
  font-weight: 400;
  color: white;
  position: relative;
  top: 30px;
  transition: 0.4s;
}
.noidung:hover .chunho2 .nhonho2 {
  top: 0;
}

/* ========= frest block =========== */

.layer .gra {
  width: 300px;
  height: 500px;
  background-image: -webkit-linear-gradient(
    -45deg,
    #0a0a0a00 40%,
    white 50%,
    #0a0a0a00 40%
  );
  position: absolute;
  top: -142px;
  left: -258px;
  transition: 0.8s;
}
.layer {
  position: relative;
  width: 265px;
  height: 450px;
  overflow: hidden;
}
.layer:hover .gra {
  top: 177px;
  left: 258px;
}
